*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0px auto;
    min-width: 1200px;
}

.logo{
    grid-area: logo;
}

.l1{
    grid-area: l1;
    padding-left: 10px;
}

.l2{
    grid-area: l2;
    margin-top: 13px;
    margin-left: -90px;
}

.logo{
    display: grid;
    grid-template-areas: 'l1 l2';
}

.nav{
    grid-area: nav;
    margin: 20px auto;
    font-size: 1.50rem;
    font-weight: bold;
}

.navigation{
    display: grid;
    grid-template-areas: 'logo nav nav';
    border: 1px solid #000000;
    box-shadow: 5px 5px 4px #888;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 80%;
    background-color: #FFFFFF;
}

ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #fff;
}

li{
    display: inline;
    float: left;
}

li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

li a:hover{
    background-color: #34fe11;
}

.logo h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
.logo img{
    margin-top: 0;
    display: inline;
}

.offer .item1{
    grid-area: item1;
}
.offer .item2{
    grid-area: item2;
}

.offer{
    display: grid;
    grid-template-areas: 'item1 item2';
    gap: 10px;
    background-color: rgb(248, 188, 162);
    margin-top: 170px;
    margin-bottom: 30px;
}

.offer .item1, .offer .item2 {
    padding: 20px 10px;
}

.offer .item1{
    margin: 60px 40px;
}

.about{
    font-size: 14px;
    padding: 5px 0;
}

.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.button{
    background-color: rgb(230, 68, 122);
    color: #ffffff;
    margin: 0 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quality .product1{
    grid-area: product1;
}

.quality .product2{
    grid-area: product2;
}

.quality .product3{
    grid-area: product3;
}

.quality{
    display: grid;
    grid-template-areas: 'product1 product2 product3';
    gap: 15px;
}

.p11{
    grid-area: p11;
    margin: auto 0;
    padding: 0 40px;
}

.p12{
    grid-area: p12;
    margin: -2px;
    padding: 0 50px;
}

.product1{
    display: grid;
    grid-template-areas: 'p11 p12';
    background-color: rgb(233, 189, 14);
    padding: 10px;
    border-radius: 10px;
}

.product2{
    display: grid;
    grid-template-areas: 'p11 p12';
    background-color: rgb(21, 204, 224);
    padding: 10px;
    border-radius: 10px;
}

.product3{
    display: grid;
    grid-template-areas: 'p11 p12';
    background-color: rgb(173, 187, 247);
    padding: 10px;
    border-radius: 10px;
}

.s1{
    grid-area: s1;
}

.s2{
    grid-area: s2;
}

.s3{
    grid-area: s3;
}

.shoes, .backpack{
    display: grid;
    grid-template-areas: 's1 s2 s3';
    margin: 20px 0;
    gap: 20px;
}

.s1, .s2, .s3{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px #333;
}

.head{
    margin: 50px 0 30px 0;
}

.name{
    padding-bottom: 5px;
    font-weight: bold;
}

.description{
    font-size: 14px;
    padding: 5px 0;
}

.name, .description, .pic, .price1{
    padding: 0 20px;
}

.button1{
    margin: 20px 25px;
    background-color: rgb(230, 68, 122);
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    padding: 10px auto;
}


.contacts{
    background-color: rgb(253, 215, 224);
    display: block;
    margin: 40px auto;
    padding: 20px 0;
}


.head1{
    padding: 50px 0 0 0;
    text-align: center;
}

.description1{
    padding: 10px 0;
    text-align: center;
}

#email{
    display: block;
    margin: 10px auto;
    padding: 8px 25px;
    border-radius: 5px;
}

#submit{
    display: block;
    margin: 10px auto;
    background-color: rgb(230, 68, 122);
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer{
    display: block; 
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}


@media (max-width: 1500px){
    .container{
        width: 100%;
    }

    .offer{
        margin-top: 200px;
    }

    .navigation{
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }

    .nav{
        font-size: 1.25rem;
        margin: auto auto;
        padding: auto auto;
    }

    .l1 img{
        float: right;
    }

    .l2{
        float: left;
        margin-left: 20px;
    }
}
